---
# dart open api를 활용한 업종 분석
---

In [1]:
import dart_fss as dart
api_key=''
dart.set_api_key(api_key=api_key)
corp_list = dart.get_corp_list()

Output()

In [2]:
edu = corp_list.find_by_corp_name('휴넷')

In [ ]:
corp_list.sectors

In [4]:
corp_list.find_by_sector('일반 교습 학원')

[[01074862]메가스터디교육,
 [00287788]정상제이엘에스,
 [00398808]디지털대성,
 [00525882]크레버스,
 [01414422]아이비김영,
 [00807555]메가엠디]

In [5]:
corp_list.find_by_sector('교육지원 서비스업')

[[00307222]YBM넷, [00876209]미래엔에듀파트너]

In [6]:
corp_list.find_by_sector('기타 교육기관')

[[00425351]멀티캠퍼스]

In [7]:
all_corps = corp_list.find_by_sector('일반 교습 학원') + corp_list.find_by_sector('교육지원 서비스업') + corp_list.find_by_sector('기타 교육기관')

In [8]:
edu = all_corps

In [9]:
import pandas as pd

In [10]:
dict_temp = edu[0].to_dict()

df_temp = pd.DataFrame()

for c in edu:
    dict_temp = c.to_dict()
    df_temp2 = pd.DataFrame.from_dict(dict_temp, orient='index').T
    
    df_temp = pd.concat([df_temp, df_temp2])

In [11]:
df_temp.to_excel('k.xlsx')

In [12]:
multi = corp_list.find_by_corp_code('00425351')

multi = dart.api.filings.get_corp_info('00425351')

In [13]:
corp_code = '00425351'

In [14]:
fs = dart.fs.extract(corp_code=corp_code, bgn_de='20210101')

Annual reports:   0%|          | 0/3 [00:00<?, ?report/s]

In [15]:
fs

{'bgn_de': '20210101',
 'corp_code': '00425351',
 'end_de': None,
 'financial statement': [{'title': '[D210000] Statement of financial position, '
                                   'current/non-current - Consolidated '
                                   'financial statements (Unit: KRW)'},
                         {'title': '[D310000] Income statement, by function of '
                                   'expense - Consolidated financial '
                                   'statements (Unit: KRW)'},
                         {'title': '[D410000] Statement of comprehensive '
                                   'income - Consolidated financial statements '
                                   '(Unit: KRW)'},
                         {'title': '[D520000] Statement of cash flows, '
                                   'indirect method - Consolidated financial '
                                   'statements (Unit: KRW)'}],
 'lang': 'ko',
 'report_tp': 'annual',
 'separate': False,
 'separator': True}

In [23]:
multi2 = pd.read_excel('./data.xlsx', index_col=0)

In [24]:
multi2.T

날짜,매출액,매출원가,매출총이익,매출총이익,영업이익,영업이익,영업이익,영업이익,영업이익,법인세비용차감전 순이익,법인세비용차감전 순이익,당기순이익,당기순이익,당기순이익,주당순이익,주당순이익,주당순이익
20220101-20221231,"357,486,847,902.0","258,027,588,983.0","99,459,258,919.0","58,416,966,756.0","41,042,292,163.0","351,991,730.0","515,079,741.0","2,182,246,657.0","1,635,418,462.0","41,426,032,347.0","10,886,370,403.0","30,539,661,944.0","30,259,194,099.0","280,467,845.0",NaN,"5,106.0","5,106.0"
20210101-20211231,"308,281,591,459.0","227,077,915,542.0","81,203,675,917.0","54,736,550,359.0","26,467,125,558.0","889,756,061.0","99,058,118.0","680,110,990.0","933,102,269.0","27,004,832,222.0","6,448,565,574.0","20,556,266,648.0","20,379,818,133.0","176,448,515.0",NaN,"3,439.0","3,439.0"
20200101-20201231,"260,018,565,092.0","195,478,767,084.0","64,539,798,008.0","50,818,052,340.0","13,721,745,668.0","34,133,206.0","568,457,243.0","639,032,120.0","916,108,699.0","12,910,345,052.0","2,962,906,871.0","9,947,438,181.0","9,962,184,865.0","-14,746,684.0",NaN,"1,690.0","1,690.0"
20190101-20191231,"288,001,021,843.0","211,369,634,271.0","76,631,387,572.0","52,453,299,478.0","24,178,088,094.0","22,788,715.0","9,166,750.0","779,823,336.0","930,639,745.0","24,040,893,650.0","5,134,303,454.0","18,906,590,196.0","18,625,040,941.0","281,549,255.0",NaN,"3,162.0","3,162.0"
20180101-20181231,"240,025,980,427.0","170,562,627,817.0","69,463,352,610.0","47,632,912,309.0","21,830,440,301.0","181,161,981.0","680,913,444.0","913,257,368.0","91,998,841.0","22,151,947,365.0","4,599,772,717.0","17,552,174,648.0","17,353,172,062.0","199,002,586.0",NaN,"2,946.0","2,946.0"

In [ ]:
# 주어진 데이터프레임
df = pd.DataFrame({
    '날짜': ['20220101-20221231', '20210101-20211231', '20200101-20201231', '20190101-20191231', '20180101-20181231'],
    '매출액': [357486847902.0, 308281591459.0, 260018565092.0, 288001021843.0, 240025980427.0],
    '매출원가': [258027588983.0, 227077915542.0, 195478767084.0, 211369634271.0, 170562627817.0],
    '매출총이익': [99459258919.0, 81203675917.0, 64539798008.0, 76631387572.0, 69463352610.0],
    '영업이익': [41042292163.0, 26467125558.0, 13721745668.0, 24178088094.0, 21830440301.0],
    '당기순이익': [30539661944.0, 20556266648.0, 9947438181.0, 18906590196.0, 17552174648.0]
})

# '날짜' 열을 datetime 형식으로 변환
df['날짜'] = pd.to_datetime(df['날짜'].str[:8])

# '날짜' 열을 인덱스로 설정
df.set_index('날짜', inplace=True)

# 그래프 그리기
df.plot(kind='line', marker='o', figsize=(10, 6))
plt.title('멀티캠퍼스 재무지표 추이')
plt.xlabel('날짜')
plt.ylabel('금액')
plt.grid(True)
plt.show()

In [ ]:
df = pd.DataFrame({
    '날짜': ['20220101-20221231', '20210101-20211231', '20200101-20201231', '20190101-20191231', '20180101-20181231'],
    '매출액': [357486847902.0, 308281591459.0, 260018565092.0, 288001021843.0, 240025980427.0],
    '매출원가': [258027588983.0, 227077915542.0, 195478767084.0, 211369634271.0, 170562627817.0],
    '매출총이익': [99459258919.0, 81203675917.0, 64539798008.0, 76631387572.0, 69463352610.0],
    '영업이익': [41042292163.0, 26467125558.0, 13721745668.0, 24178088094.0, 21830440301.0],
    '당기순이익': [30539661944.0, 20556266648.0, 9947438181.0, 18906590196.0, 17552174648.0]
})

In [ ]:
df2= pd.DataFrame({'날짜': ['20220101-20221231', '20210101-20211231', '20200101-20201231', '20190101-20191231', '20180101-20181231'],
    '영업이익': [41042292163.0, 26467125558.0, 13721745668.0, 24178088094.0, 21830440301.0],
    '당기순이익': [30539661944.0, 20556266648.0, 9947438181.0, 18906590196.0, 17552174648.0]
})
# '날짜' 열을 datetime 형식으로 변환
df2['날짜'] = pd.to_datetime(df2['날짜'].str[:8])

# '날짜' 열을 인덱스로 설정
df2.set_index('날짜', inplace=True)

# 그래프 그리기
df2.plot(kind='line', marker='o', figsize=(10, 6))
plt.title('멀티캠퍼스 재무지표 추이')
plt.xlabel('날짜')
plt.ylabel('금액')
plt.grid(True)
plt.show()

In [26]:
df5 = df.describe()

In [27]:
df5.to_excel('qq.xlsx')

In [28]:
df

,매출액,매출원가,매출총이익,영업이익,당기순이익
날짜,,,,,
2022-01-01,"357,486,847,902.0","258,027,588,983.0","99,459,258,919.0","41,042,292,163.0","30,539,661,944.0"
2021-01-01,"308,281,591,459.0","227,077,915,542.0","81,203,675,917.0","26,467,125,558.0","20,556,266,648.0"
2020-01-01,"260,018,565,092.0","195,478,767,084.0","64,539,798,008.0","13,721,745,668.0","9,947,438,181.0"
2019-01-01,"288,001,021,843.0","211,369,634,271.0","76,631,387,572.0","24,178,088,094.0","18,906,590,196.0"
2018-01-01,"240,025,980,427.0","170,562,627,817.0","69,463,352,610.0","21,830,440,301.0","17,552,174,648.0"

wg = corp_list.find_by_corp_code('00425351')
reports = wg.search_filings(bgn_de='20220101', pblntf_detail_ty='a001')
report = reports[0]
xbrl = report.xbrl

multi1 = xbrl.get_income_statement()[0].to_DataFrame()

In [29]:
# 지역별 업체수 시각화
import re
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

sns.set(font_scale=1.4)
plt.rc('font', family='Malgun Gothic') # 글꼴 변경
mpl.rcParams['axes.unicode_minus'] = False # 마이너스 기호 깨짐 문제 해결

In [ ]:
sns.lineplot(data = fs, x='업종')

In [ ]:
df = pd.read_excel(r'C:\Users\BIG3-05\Downloads\20240219184842.xlsx')

In [ ]:
# 온라인 매체를 이용한 학습(13세 이상 인구)
df2 = pd.DataFrame({
    '분야' :['학업 분야', '어학 분야', '정보화 분야', '학업 외 시험 준비 분야', '직장인 필수 교육 분야',
       '인문, 고양, 취미 분야', '기타'],
    '비중' : ['33.4',	'25.7',	'23.8',	'27.9','45.1','37.7','0.9']
    })
# '비중' 열을 숫자형으로 변환
df2['비중'] = df2['비중'].astype(float)
plt.figure(figsize=(10, 6))
plt.bar(df2['분야'], df2['비중'], color='blue')
plt.title('분야별 비중')
plt.xlabel('분야')
plt.ylabel('비중')
plt.xticks(rotation=45, ha='right')  # x축 눈금 레이블 회전
plt.tight_layout()  # 레이아웃 조정
plt.show()

In [ ]:
import plotly.express as px

In [ ]:
df2 = pd.DataFrame({
    '분야' :['학업 분야', '어학 분야', '정보화 분야', '학업 외 시험 준비 분야', '직장인 필수 교육 분야',
       '인문, 고양, 취미 분야', '기타'],
    '비중' : ['33.4',	'25.7',	'23.8',	'27.9','45.1','37.7','0.9']
    })
# '비중' 열을 숫자형으로 변환
df2['비중'] = df2['비중'].astype(float)

# 파이 차트 그리기
fig = px.pie(df2, values='비중', names='분야', title='분야별 비중')
fig.show()

In [ ]:
df3 = pd.read_excel('sa.xlsx', index_col= 0)

In [ ]:
df3.T

In [ ]:
df3 = pd.DataFrame({
    '연령' : ['13∼19세', '20∼29세', '30∼39세', '40∼49세', '50∼59세', '60∼69세', '70∼79세',
       '80세 이상'],
    '만족도' :['7.8','14.6','10.3','10.3','10.3','8.0','5.6','4.9']})

In [ ]:
df3

In [ ]:
# 근로여건 만족도(직장내 교육훈련의 기회, 13세 이상 인구)
df3['만족도'] = df3['만족도'].astype(float)
plt.figure(figsize=(10, 6))
plt.bar(df3['연령'], df3['만족도'], color='skyblue')
plt.title('연령별 만족도')
plt.xlabel('연령')
plt.ylabel('만족도')
plt.xticks(rotation=45, ha='right')  # x축 눈금 레이블 회전
plt.tight_layout()  # 레이아웃 조정
plt.show()